<h2>Directorio: {{directorio}}</h2>
<h2>Argumentos: {{argv}}</h2>
<h2>Process ID: {{pid}}</h2>
<h2>Versión de node: {{node_version}}</h2>
<h2>Sistema operativo: {{so}}</h2>
<h2>Memoria reservada: {{memoria_reservada}}</h2>
<h2>Nro de procesadores: {{numero_de_procesadores}}</h2>