{{#if hayProductos}}
<h1>Vista de productos</h1>
<div class="table-responsive">
    <table class="table table-dark">
    <tr style="color: yellow">
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </tr>
    {{#each productos}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img src={{this.thumbnail}} alt={{this.title}}></td>
    </tr>
    {{/each}}
    </table>
</div>
{{else}}
<h3 style="color: black">No hay productos</h3>
{{/if }}